* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  align-self: center;
  justify-self: center;
  padding: 30px;
}

.arena {
  display: grid;
  grid-template-rows: 5% 30% 10%;
  row-gap: 20px;
}

.player-turn {
  justify-self: center;
}

.game-board {
  width: 400px;

  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.control-buttons {
  justify-self: center;
  display: flex;
  gap: 20px;
}

.control-buttons button {
  height: 30%;
  width: 150px;
}

.results {
  justify-self: center;
  font-size: 2rem;
  font-weight: bold;
}